DJANGO_SETTINGS_MODULE={{ project_slug }}.config.settings.development
DJANGO_SECRET_KEY={{ django_secret_key }}
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=sqlite:///db.sqlite3
DJANGO_TIME_ZONE={{ timezone }}
DJANGO_LANGUAGE_CODE={{ language_code }}
