"""Core application configuration."""

from django.apps import AppConfig


class CoreConfig(AppConfig):
    """Configure the core application."""

    default_auto_field = 'django.db.models.BigAutoField'
    name = '{{ project_slug }}.apps.core'
